<html lang="en">

<body>

  <div>
    <p></p>
    <script>
      function printEvents() {
        e_names = '{{names}}';
        e_links = '{{elinks}}';
        e_starts = '{{starts}}';
        e_ends = '{{ends}}';
        if (e_names === '')
          document.write('<div class="event-proto">' + "<h6> No events </h6>" + "</div>");
        else {
          e_names = e_names.split(',');
          e_links = e_links.split(',');
          e_starts = e_starts.split(',');

          e_ends = e_ends.split(',');
          for (var i = 0; i < e_names.length; i++) {
            document.write('<div class="event_button"><a class="btn btn-lg btn-primary btn-block" href="/event/' +
              e_links[i] + '">' + e_names[i] + '</a>' + "Start Date: " + e_starts[i].substring(0, 16) + "\n" + "End Date: " + e_ends[i].substring(0, 16) + '</div>');
          }
        }
      }
      printEvents();</script>
    <a class="button" href='/events/eventcreation'>Create Event</a>
  </div>
</body>

</html>
