<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>

<body>

  <p> Event </p>

  <p id="name"></p>
  <p id="email"></p>
  <p id="supervisor"></p>
  <p id="address"></p>
  <p id="startDate"></p>
  <p id="endDate"></p>
  <p id="comments"></p>

  <div id="paypal-button"></div>

  <script lang="Javascript">
    document.getElementById("name").innerHTML = "placeholder"
    document.getElementById("email").innerHTML = "placeholder"
    document.getElementById("supervisor").innerHTML = "placeholder"
    document.getElementById("address").innerHTML = "placeholder"
    document.getElementById("startDate").innerHTML = "placeholder"
    document.getElementById("endDate").innerHTML = "placeholder"
    document.getElementById("comments").innerHTML = "placeholder"

    paypal.Button.render({
      env: 'production', // Or 'sandbox',

      commit: true, // Show a 'Pay Now' button

      style: {
        color: 'gold',
        size: 'small'
      },

      payment: function (data, actions) {
        /*
         * Set up the payment here
         */
      },

      onAuthorize: function (data, actions) {
        /*
         * Execute the payment here
         */
      },

      onCancel: function (data, actions) {
        /*
         * Buyer cancelled the payment
         */
      },

      onError: function (err) {
        /*
         * An error occurred during the transaction
         */
      }
    }, '#paypal-button');
  </script>





</body>

</html>
