<html lang="en">
<h5>Welcome to Event Tracker</h5>

<style>
    body{
        background-image: url('https://i.redditmedia.com/a26FxFNt0z-nsYa7G77XMtuV47y2aWgj1o8EAu7WHN4.jpg?s=33a685aa028f8687698d52ad2549c6ee');
        background-size: 100%;
    }
</style>
<body>

</body>

</html>