<html lang="en">
<style>
    h5 {
        margin: 0 auto;

        font-family: "Roboto Slab";

        font-weight: 400;

        font-size: 6em;

        background: linear-gradient(330deg, #ff0000 0%, #80ff00 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);

        -webkit-background-clip: text;

        -webkit-text-fill-color: transparent;

        line-height: 200px
    }
</style>
<br><br><br><br>
<center><h5>Welcome to Event Tracker by Garett's A Team</h5></center>

<style>
    body{
        background-image: url('https://i.redditmedia.com/a26FxFNt0z-nsYa7G77XMtuV47y2aWgj1o8EAu7WHN4.jpg?s=33a685aa028f8687698d52ad2549c6ee');
        background-size: 100%;
    }
</style>
<body>

</body>

</html>
