<h1>{{title}}</h1>
<span id="welcome-text"> Welcome to the Event Tracker System </span>
<br/>
<div id="login-form">
    <form action="/account/login" method="post">
        <div>
            <label class="label" for="username"> Username </label>
            <input type="email" id="username" name="username">
        </div>
        <div>
            <label for="password"> Password </label>
            <input type="password" id="password" name="password">
        </div>

        <div>
            <input type="submit" id="submit" value="Login"
                   onclick="return validateForm();">
        </div>
    </form>
</div>

<p> Don't have an account yet? Register <a href="/account/register"> here </a></p>

<script lang="Javascript">
    function validateForm() {
        const email = document.getElementById("username");
        const password = document.getElementById("password");

        if (email.value === "") {
            alert("Please enter an email.");
            return false;
        }
        if (password.value === "") {
            alert("Please enter a password.");
            return false;
        }

        const myform = document.getElementById("login-form");
        myform.submit();
        return true;
    }
</script>
<!- comment ->