<html>

  <nav class="navbar navbar-expand-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href='/'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
      </ul>
    </div>
  </nav>

  <body class="text-center" data-gr-c-s-loaded="true">
    <form class="form-signin" action="/account/register" method="post">
      <h3>Register here</h3>
      <h5>{{error}}</h5>
        <div class="form-label-group">
          <label for="user_mail">email</label>
          <input type="email" id="mail" name="user_mail" placeholder="email"
           class="form-control" required>
        </div>
        <div class="form-label-group">
          <label for="user_password">password</label>
            <input type="password" id="password" name="user_password"
            class="form-control" placeholder="password" required>
        </div>
        <div class="form-label-group">
          <label for="user_repassword">password</label>
          <input type="password" id="reenter-password" name="user_repassword"
          class="form-control" placeholder="re-enter password" required>
        </div>
        <div class="form-label-group">
          <label for="user_firstname">first name</label>
          <input type="text" id="firstname" name="user_firstname"
          class="form-control" placeholder="first name">
        </div>
        <div class="form-label-group">
          <label for="user_lastname">last name</label>
          <input type="text" id="lastname" name="user_lastname"
          class="form-control" placeholder="last name">
        </div>
        <div class="form-label-group">
          <label for="user_address">address</label>
          <input type="text" id="address" name="user_address"
           class="form-control" placeholder="address">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit"
          id="submit" value="Register">
          Register
        </button>
      </form>
  </body>
</html>
