<h1> Register </h1>
<span id="welcome-text">Welcome to the Event Tracker System</span>
<br/>
<h3>{{error}}</h3>
<div id="register-form">
    <form action="/account/register" method="post">
        <div>
            <input type="email" id="mail" name="user_mail" placeholder="e-mail">
        </div>
        <br>
        <div>
            <input type="password" id="password" name="user_password" placeholder="password">
        </div>

        <div>
            <input type="password" id="reenter-password" name="user_repassword" placeholder="re-enter password">
        </div>

        <div>
            <input type="text" id="firstname" name="user_firstname" placeholder="first name">
        </div>
        <div>
            <input type="text" id="lastname" name="user_lastname" placeholder="last name">
        </div>
        <div>
            <input type="text" id="address" name="user_address" placeholder="address">
        </div>

        <div>
            <input type="submit" id="submit" value="Register"
                   onclick="return validateRegistration();">
        </div>
    </form>
</div>

<script lang="Javascript">
    function validateRegistration() {
        const email = document.getElementById("mail");
        const password = document.getElementById("password");
        const repassword = document.getElementById("reenter-password");
        const first = document.getElementById("user_firstname");
        const last = document.getElementById("user_lastname");
        const address = document.getElementById("user_address");

        if (email.value === "") {
            alert("Please enter an email.");
            return false;
        }
        if (password.value === "") {
            alert("Please enter a password.");
            return false;
        }
        if (password.value !== repassword.value) {
            alert("Your passwords do not match, please retry");
            return false;
        }

        const myform = document.getElementById("register-form");
        myform.submit();
        return true;
    }
</script>